h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210201039-04. Fortalecer desde el acondicionamiento integral efectivo, el crecimiento y el desarrollo personal mediante técnicas de motivación y empoderamiento.






