.container

    .header-ecored
        h1 Glosario


    .jumbotron.bg-white
        p
            strong.mr-2 Acondicionamiento: 
            | preparación de un trabajador para mejorar rendimiento laboral en una empresa.
        hr

        p
            strong.mr-2 Feedback: 
            | proceso de retroalimentación de los trabajadores a través de la buena comunicación y experiencia.

        hr

        p
            strong.mr-2 Team building: 
            | construcción de equipo de trabajo. 

        hr

        p
            strong.mr-2 Motivación: 
            | capacidad que generan las empresas para mantener el estímulo positivo de sus trabajadores. 

        hr 
        
        p
            strong.mr-2 Empowerment: 
            | darle poder y autonomía a los trabajadores para la ejecución de funciones y actividades. 