.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Estrategias para motivar el capital humano en las pymes.
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/MC1_estrategias_motivar.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material
                tr
                    td Empowerment como tendencia de organización.
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/MC2_empowerment_tendencia_organizacion.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material            