.container

    .header-ecored
        h1 3.	Empoderamiento empresarial


    .card.mb-5
        img.card-img-top(src='assets/images/pages/tema-3/portada.jpg')
        .card-body
            p En las empresas el área de Talento humano ha establecido estrategias que permiten mejorar la productividad y el rendimiento en las actividades laborales. A través del empoderamiento se puede observar al gerente de la empresa como un líder y no como agente autocrático, debido a que delega funciones y responsabilidades a sus trabajadadores.

            .quote.my-5
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 “El #[i empowerment] o empoderamiento empresarial es una herramienta que utilizan las áreas de Talento Humano para dotar a sus empleados de más poder y responsabilidades en sus puestos de trabajo con el objetivo de obtener el máximo rendimiento en el ámbito profesional y personal” (Caurin, 2018).
                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")

            p.mt-5 El #[i empowerment] permite que en la empresa se establezcan varias estructuras de poder, en la que cada trabajador posee funciones, obligaciones y responsabilidades que generan buen clima laboral y trabajo en equipo en la búsqueda de objetivos comunes.

    .header-ecored
        h2 3.1 Importancia del #[i empowerment] en la gestión empresarial


    .row.justify-content-center.align-items-center.mb-5
        .col-12.col-md.order-2.order-md-1
            p Cuando desaparecen las líneas jerárquicas verticales y la empresa se concentra en la consecución de objetivos a través del empoderamiento, los trabajadores se sienten importantes porque pueden tomar decisiones basadas en la experiencia frente a problemas o “cuellos de botella” que se presenten en las diversas áreas y formar parte de la solución.
            p Uno de los objetivos principales del #[i empowerment] es lograr una distribución de poder y responsabilidades, de tal manera que se refuercen las funciones que realiza cada trabajador, por consiguiente, se logra otro objetivo adicional como conseguir un incremento de tiempo y dedicación por parte de los empleados, sacando ventaja de las capacidades y conocimientos.
        .col-12.col-md-auto.order-1.order-md-2
            p.text-center
                img(src="assets/images/pages/tema-3/i31.svg", alt="").img-fluid




    .header-ecored
        h2 3.2	Ventajas y desventajas del #[i empowerment]


    p Son múltiples los factores positivos y negativos que se presentan al implementar el empoderamiento empresarial, a continuación, se presentan las ventajas y desventajas.

    p.text-center
        img(src="assets/images/pages/tema-3/i32.svg", alt="").img-fluid

    .header-ecored
        h2 3.3	Técnicas de  #[i empowerment]

    .jumbotron.bg-white
        p.mb-5 Cada líder o gerente tiene sus características y, de esta manera, escoge la estrategia de empoderamiento que le parece la más adecuada para la organización; para ello, se puede aplicar técnicas como las siguientes: 

        p.text-center
            img(src="assets/images/pages/tema-3/i33.svg", alt="").img-fluid

        p.mt-5 La empresa, a través del gerente o líder, es autónoma en planificar e implementar diversas estrategias de empoderamiento que le permita mejorar los procedimientos, funciones y responsabilidades, con el fin de alcanzar las metas establecidas.