.container

    .header-ecored
        h1 2.	Motivación empresarial 


    .card.mb-5
        img.card-img-top(src='assets/images/pages/tema-2/portada.jpg')
        .card-body
            p Es la estrategia utilizada por la organización, que permite a los trabajadores generar un sentido de pertenencia por la entidad, generar un buen clima laboral, trabajar con gusto y entusiasmo, además de conseguir resultados óptimos.

            .quote.my-5
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-0 La motivación laboral es la capacidad que tienen las empresas y organizaciones para mantener el estímulo positivo de sus empleados en relación con todas las actividades que realizan para llevar a cabo los objetos propuestos, es decir, sobre el trabajo (Sodexo, s.f.).
                .quote__bar 
                    .quote__bar__hr
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_02.svg")

            p.mt-5 La empresa debe definir programas para motivar a los trabajadores, como incentivos, estímulos, actividades culturales y deportivas, capacitación, etc.; que permitan al trabajador estar a gusto en la organización y generar buenos resultados.

    .header-ecored
        h2 2.1 Tipos de motivación 


    .jumbotron.bg-white
        p Para definir la motivación se pueden tomar diversos tipos para su clasificación, como son origen, carácter y nivel.

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/motivacion.svg", alt="").img-fluid



    .header-ecored
        h2 2.2 Factores que influyen en la motivación empresarial


    p Son muchos los factores que influyen en la motivación hacia los trabajadores, algunos de ellos pueden ser: 

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e1.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong El puesto de trabajo: ] la motivación depende del sitio en el que el trabajador va a desempeñar sus funciones, si lo encuentra cómodo y en excelentes condiciones de seguridad.          
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e2.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Autonomía en el trabajo:  ] es importante que al trabajador se le asigne autonomía y responsabilidad en las funciones a ejecutar donde pueda aportar ideas para la mejora de procesos y procedimientos.

                hr.line-100.bg-brand-color-dark


    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e3.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Ambiente de trabajo: ] es necesario crear en la empresa un clima laboral agradable con buenas relaciones entre los diferentes integrantes, de esta manera se puede generar satisfacción y comodidad en las personas a través de la identificación y aplicación de los valores corporativos.           
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e4.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Condiciones laborales: ] los trabajadores se sienten motivados con un buen salario, horarios flexibles, programas de incentivos, en general, si todas las políticas de contratación que aplica la empresa están acordes a lo que el trabajador busca.            
                hr.line-100.bg-brand-color-dark


    p La motivación en una empresa depende de muchas situaciones que hacen que un trabajador cambie de trabajo o empresa, debido a que no se encuentra a gusto con la entidad, con las actividades que realiza o simplemente por que no se siente realizado.


    .header-ecored
        h2 2.3 Implementación de la motivación laboral


    p Las empresas tienen un sinnúmero de estrategias para poner en marcha acciones de motivación laboral, que garanticen la comodidad, satisfacción y bienestar de los trabajadores. Algunas de ellas, según el sitio en internet Up Spain (s.f.), pueden ser:  

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e5.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Política de incentivos: ] los logros se deben reconocer y premiar. Puede ser tanto a nivel económico o en forma de premios, por ejemplo, unas vacaciones o un viaje.          
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e6.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Promoción laboral:  ] la empresa debe facilitar la promoción laboral del trabajador, que se sentirá motivado por la posibilidad de ir ascendiendo de puesto de trabajo y, además, de salario.

                hr.line-100.bg-brand-color-dark


    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e7.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Definir objetivos y funciones: ] es importante que cada empleado sepa qué tiene que hacer, el tiempo que tiene y los objetivos personales del equipo y de la empresa en general. De esta forma, se trabaja la motivación laboral y el trabajo en equipo.           
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e8.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Organizar correctamente la plantilla: ] no hay nada más desmotivador para un trabajador que estar en un puesto en el que no demuestra sus habilidades o en el que se ve infracualificado. Por lo que, la asignación correcta de los empleados en puestos de trabajo según sus competencias es clave para contar con equipos motivados.         
                hr.line-100.bg-brand-color-dark

    .row.align-items-center.justify-content-center.my-5
        .col-auto
            figure
                img(src="assets/images/pages/tema-2/e9.svg", alt="")
        
        .col
            
            .bg-brand-color-secondary
                hr.line-100.bg-brand-color-dark
                .p-4
                    p #[strong Promoción laboral: ] la empresa debe dar la formación necesaria para facilitar la promoción laboral del empleado. Es una técnica muy útil para mantener la motivación laboral constante.        
                hr.line-100.bg-brand-color-dark

    p El área de Talento humano a través de su coordinación debe de planificar e implementar un programa de incentivos dentro del plan de bienestar laboral de la empresa, que garantice la satisfacción, estabilidad y el desarrollo laboral, personal y profesional.